In [ ]:
WITH PuntosTotales AS (
    SELECT equipo, SUM(puntos) AS total_puntos
    FROM Resultados_Qatar
    GROUP BY equipo
),
Quintiles AS (
    SELECT equipo, total_puntos, NTILE(5) OVER (ORDER BY total_puntos DESC) AS quintil
    FROM PuntosTotales
)
SELECT equipo, total_puntos
FROM Quintiles
WHERE quintil = 1 
ORDER BY total_puntos DESC;