In [ ]:
WITH Ranking AS (
    SELECT equipo, GRUPO, puntos,  gol_diferencia,
        ROW_NUMBER() OVER (PARTITION BY GRUPO ORDER BY puntos DESC, gol_diferencia DESC) AS ranking
    FROM Resultados_Qatar
)
SELECT  r.equipo, r.GRUPO, r.puntos, r.gol_diferencia, c.fecha, c.hora, c.sede
FROM Ranking r
JOIN Clasificados c
    ON (r.GRUPO = 'GRUPO A' AND c.partido = '1º del grupo A vs. 2º del grupo B')
    OR (r.GRUPO = 'GRUPO B' AND c.partido = '1º del grupo B vs. 2º del grupo A')
    OR (r.GRUPO = 'GRUPO C' AND c.partido = '1º del grupo C vs. 2º del grupo D')
    OR (r.GRUPO = 'GRUPO D' AND c.partido = '1º del grupo D vs. 2º del grupo C')
    OR (r.GRUPO = 'GRUPO E' AND c.partido = '1º del grupo E vs. 2º del grupo F')
    OR (r.GRUPO = 'GRUPO F' AND c.partido = '1º del grupo F vs. 2º del grupo E')
    OR (r.GRUPO = 'GRUPO G' AND c.partido = '1º del grupo G vs. 2º del grupo H')
    OR (r.GRUPO = 'GRUPO H' AND c.partido = '1º del grupo H vs. 2º del grupo G')
WHERE r.ranking <= 2
ORDER BY r.GRUPO, r.ranking;